.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: var(--backdrop);
  align-items: center;
  justify-content: center;
  z-index: 5;
}
.post-modal {
  width: 24rem;
  z-index: 6;
  background-color: var(--bg-color);
}
